#components-layout-demo-side .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }

  Link{
    display: inline-block;
  }
  .ant-layout, .ant-layout-header{
    background: #fff;
  }
  .ant-layout-header{
    padding: 0;
  }
  